{% extends "articles/layout.html" %}
    
    {% block content %}
    <h1>Formulaire de creation des articles</h1>
    <a href="{% url 'list-articles' %}">Retour</a>
    <form action="" method="post">
        {% csrf_token %}
        
        
        
        <br> 
        

        {% for field in form %}
        {{ field.label_tag }}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li><strong style="color: red;">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}

             {{ field }}
        {% endfor %}
        
        <input type="submit" value="Enregistrer" class="btn btn-primary">
        <input type="reset" value="Annuler" class="btn btn-danger">

    </form>
    
    {% endblock content %}
    
